
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Tagesschrift&display=swap');
@import "tailwindcss";

@layer  {
  body {
    @apply bg-black text-white;
  }
}

@theme{
  --font-Tagesschrift:  "Tagesschrift", system-ui;
  --font-Lilita :  "Lilita One", sans-serif;
}


